$navbar-default-bg: #000;
$navbar-border-radius: 0px;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.jumbotron {
  background-image: url(jumbo-bg.jpg);
  background-size:cover;
  height:500px;
  h1{
    color:#fff;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}
.description{
  margin-top:0px;
}
.footer{
  margin-top:45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  ul{
    float: right;
    list-style:none;
  }
  li{
    margin-left:15px;
  }
  small{
    float: left;
  }
}



